/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

body {
  background-color: red; border: 4px; border-color: black;
}

title {
  color: yellow;
}

div {
  font-family: serif; color: white;
}
